html,body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100vw;
    scroll-behavior: smooth;
}

body{
    background-color: white;

}
body > div{
    overflow-x: hidden;
}
section{
    width: 100vw;
    height: 100vh;
    container-type: inline-size;
}
.gradient{
    background: linear-gradient(80deg, #3D61B1, #6481C1);
    color: white;
}
h1{
    font-size: 3vw;
    margin: 0;
    color: #3D61B1;
}
.wrapper{
    display: grid;
    width: 100%;
    justify-items: center;
    align-items: center;
}
.wrapper img, .wrapper svg{
    width: 100%;
}
@media only screen and (max-width:425px){
    .wrapper img, .wrapper svg{
        width: 100% !important;
    }
    section{
        max-width: 100vw;
        overflow: hidden;
    }
    html,body{
        position: relative;
    }
}